In [1]:
import pandas as pd
import xarray as xr

/modules/rhel8/conda/install/envs/development-11-2023/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
metar_data = pd.read_csv('metar_dataset_with_airport_location.csv')

In [3]:
metar_data['airport_identifier'].nunique()

73

In [4]:
airports = pd.read_csv('../data/airport_positions.csv')

In [5]:
airports_positions = pd.merge(airports, metar_data, on='airport_identifier', how='inner')

In [6]:
airports_positions

,airport_identifier,name_x,position_x,issued_at,metar,metartype,contain_FZ,time,name_y,position_y,latitude,longitude
0,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",2021-01-01 00:20:00,ENAL 010020Z 08005KT 9999 SCT024/// BKN037/// ...,AUTO,False,2021-01-01 00:00:00,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
1,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",2021-01-01 01:20:00,ENAL 010120Z 08005KT 9999 FEW027/// SCT040/// ...,AUTO,False,2021-01-01 01:00:00,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
2,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",2021-01-01 01:50:00,ENAL 010150Z 09006KT 9999 BKN025/// M01/M02 Q1...,AUTO,False,2021-01-01 02:00:00,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
3,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",2021-01-01 03:20:00,ENAL 010320Z 09006KT 9999 OVC025/// 01/M02 Q1006=,AUTO,False,2021-01-01 03:00:00,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
4,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",2021-01-01 04:20:00,ENAL 010420Z 17003KT 9999 OVC028/// 01/M01 Q1006=,AUTO,False,2021-01-01 04:00:00,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
...,...,...,...,...,...,...,...,...,...,...,...,...
1598949,ENZV,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",2023-12-31 19:50:00,ENZV 311950Z 10017KT CAVOK 05/M04 Q0994=,MANUAL,False,2023-12-31 20:00:00,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",58.87,5.63
1598950,ENZV,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",2023-12-31 20:50:00,ENZV 312050Z 10018KT CAVOK 05/M04 Q0994=,MANUAL,False,2023-12-31 21:00:00,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",58.87,5.63
1598951,ENZV,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",2023-12-31 22:20:00,ENZV 312220Z 10023G34KT CAVOK 05/M05 Q0994=,MANUAL,False,2023-12-31 22:00:00,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",58.87,5.63
1598952,ENZV,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",2023-12-31 22:50:00,ENZV 312250Z 10021KT CAVOK 05/M04 Q0994=,MANUAL,False,2023-12-31 23:00:00,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",58.87,5.63
1598953,ENZV,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",2023-12-31 23:50:00,ENZV 312350Z 11025G37KT CAVOK 04/M05 Q0995=,MANUAL,False,2024-01-01 00:00:00,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",58.87,5.63

In [7]:
#airports_positions.reset_index(drop=True, inplace=True)

In [7]:
airports_positions['airport_identifier'].unique()

array(['ENAL', 'ENAN', 'ENAS', 'ENAT', 'ENBJ', 'ENBL', 'ENBN', 'ENBO',
       'ENBR', 'ENBS', 'ENBV', 'ENCN', 'ENDP', 'ENDR', 'ENDU', 'ENEV',
       'ENFB', 'ENFL', 'ENGC', 'ENGK', 'ENGM', 'ENHD', 'ENHE', 'ENHF',
       'ENHK', 'ENHM', 'ENHO', 'ENHV', 'ENJA', 'ENJS', 'ENKB', 'ENKR',
       'ENLA', 'ENLK', 'ENMH', 'ENML', 'ENMS', 'ENNA', 'ENNE', 'ENNM',
       'ENNO', 'ENOA', 'ENOL', 'ENOV', 'ENQA', 'ENQC', 'ENQR', 'ENRA',
       'ENRM', 'ENRO', 'ENRS', 'ENRY', 'ENSA', 'ENSB', 'ENSD', 'ENSE',
       'ENSF', 'ENSG', 'ENSH', 'ENSK', 'ENSL', 'ENSR', 'ENSS', 'ENST',
       'ENTC', 'ENTO', 'ENUG', 'ENUN', 'ENUS', 'ENVA', 'ENVD', 'ENWV',
       'ENZV'], dtype=object)

In [8]:
airports_positions = airports_positions.drop(columns=['name_x', 'position_x', 'name_y', 'position_y', 'metar', 'contain_FZ', 'issued_at', 'time', 'metartype'])

In [9]:
airports_positions.drop_duplicates(inplace=True)

In [10]:
airports_positions

        airport_identifier  latitude  longitude
0                     ENAL     62.56       6.11
26211                 ENAN     69.29      16.14
52434                 ENAS     78.92      11.87
55120                 ENAT     69.97      23.37
81304                 ENBJ     74.50      19.08
...                    ...       ...        ...
1484024               ENUS     65.69       7.65
1497368               ENVA     63.45      10.92
1523597               ENVD     70.06      29.84
1546602               ENWV     56.27       3.39
1572680               ENZV     58.87       5.63

[73 rows x 3 columns]

In [11]:
airports_to_drop = ['ENAS', 'ENHO', 'ENSB', 'ENSA']

In [13]:
airports_positions = airports_positions[~airports_positions['airport_identifier'].isin(airports_to_drop)]

In [17]:
airports_positions['airport_identifier'].nunique()

69

In [18]:
output_csv = '../data/airport_positions_new.csv'
airports_positions.to_csv(output_csv, index=False)